<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Today I started using <br /><strong>Django</strong>.</p>
            <h3><a href="">Hoorah!</a></h3>
        </div>

        <div>
            <p>published: 14.06.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Today I started creating a webpage.</p>

            <ul><li>first item</li><li>second item</li></ul>
        </div>
    </body>
</html>
