.page-header {
    background-color: #DFF5EF;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .pgae-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #AE8FCC;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #28C79F;
}

.save {
    float: right;
}


.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #28C79F;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #18B58E;
}

body {
     padding-left: 15px;
}
